<<<<<<< HEAD
body {
  height: 500%;
  background-image: url("hal01.jpeg");
  height: 500%;
  background-repeat: no-repeat;
  height: 500%;
  background-position: center;
  background-size: cover;


}
body {
  text:white;
=======
img {
  horizontal align: middle;
  border-style: groove;
  width: 200px;
  height:500px;
}
h1 {
  text-decoration: underline;
  font-weight: bold;

}
body {
  background-color: gray;
>>>>>>> 1271b2427c0e0816d516fc80032ad2bce2617770
}
